<html>
  <head>
<link rel="stylesheet" type="text/css" href="my_css/index.css">
  </head>
  <body>

  <!-- SCRIPTS : -->
  <script type ="text/template" id="login-template">
    <div class="content">
      <div>
        <img src="../core/assets/logo-color.png">
        <h2> Sign into your ACME account</h2>
      </div>
    <form action="" class="formular" id="formSubmit">
      <p id="message"> </p>
      <p>Email: </p>
      <input id="email_signIn" name="email" value="" autofocus required><br>
      <p>Password:</p>
      <input id="password_signIn" type="password" name="passw" required> <br>
      <a href="" id="fPass" class="form_actions"> Forgot Password ? </a>
      <input id="bPass" type="submit" class="form_actions"value="Sign in">
    </form>
      <div class="sign-up">
        <p>Don't have an account? </p>
        <a href="landing_page.html" id="sUp">Sing up here</a>
      </div>
    </div>
  </script>
 <script type ="text/template"  id="index-section-1">
   <div id="logo" >
     <img src="../core/assets/logo-top.png">
   </div>
   <div class="index-section-1-1">
     <div id="searchBlock">
       <img src="../core/assets/search-icon.png">
       <input type="text" placeholder="Search">
     </div>
     <h2>Ready to listen to endless music on your favorite device ?</h2>
      <button id="join-now-button" type="button">JOIN NOW</button>
      <h1 id="bringInfo"> Epic and debauched party mixes </h1>
   </div>
   <div class="index-section-1-2">
       <button id="sign-in-button" type="button"> Sign In </button>
   </div>
 </script>

<script type ="text/template" id="playlists-container">
  <div class="individual-playlist">
    <button type="button" class="individual-playlist-button">
      <img src="../core/assets/play-icon.png">
      Explore Playlist
    </button>
    <img src="<%=imageLarge %>">
    <h3><%=title %></h3>
    <p><%= description %></p>
  </div>
</script>

  <script type ="text/template" id="songs-table">
      <thead id="headTable">
        <tr>
         <th>SONGS</th>
         <th>LENGTH</th>
         <th>LISTENED</th>
        </tr>
     </thead>
     <tbody id="tbody" >
     </tbody>
  </script>

 <script type ="text/template" id="template-playlist">
 </script>
<script type = "text/template" id="playlist-header">
  <div class="playlist-top">
    <a>CLOSE</a>
    <img src="../core/assets/close-icon.png">
  </div>
  <div class="playlist-main">
    <img src="<%= imageSmall %>" alt="">
    <div>
      <p>Playing from: </p>
      <h2><%= title %> : The remixes radio</h2>
    </div>
  </div>
</script>

 <script type="text/template" id ="song-list-item">
    <tr >
       <td>
          <div class="song-pic-text">
         <img src="<%= gsx$image.$t %>" alt="SongPicture">
             <div>
            <h3><%= gsx$name.$t %></h3>
             <p>by gsx$releasedate.$t </p>
           </div>
          </div>
          </td>
          <td>
            <p><%= gsx$length.$t %></p>
          </td>
         <td>
             <p><%= gsx$track.$t  %></p>
          </td>
      </tr>
  </script>
  <script type="text/template" id="index-section-2">
     <div id="updateText"> </div>
     <p>	&#169; 2016 ACME DIVISION. ALL RIGHTS RESERVED </p>
  </script>

  <script type="text/template" id='singup-template'>
<div class="section_1" >
  <div class="section_1_1">
    <img src="../core/assets/logo-top.png">
    <h1> Startup Landing Page For Your Product </h2>
    <p> The world's leading Lorem ipsum dolor sit amet,
      consectetur adipsicing elit, sed do
      <a href="ref"> Learn more<a>
    </p>
    <h5> AS FEATURED IN :</h5>
    <a href=""> <img src="../core/assets/tnw-logo.png"> </a>
    <a href="">  <img src="../core/assets/forbes-logo.png"> </a>
    <a href="">   <img src="../core/assets/natgeo-logo.png"></a>
    <a href="">   <img src="../core/assets/finextra-logo.png"></a>
  </div>
    <div class="section_1_2">
      <div>
      <h2> Sign up for an ACME account</h2>
      <p>Get Started Absolutely FREE </p>
      <span> NO CREDIT CARD NEEDED </span>
    </div>

     <form id="form_signUp" >

        <p id="textFormMessage"> </p>
        <p>Your name:</p>
         <input id="sign-up-name" type="text" name="username" required><br>
         <p>Email:</p>
         <input id="sign-up-email" name="mail" required><br>
         <p>Password:</p>
         <input id="sign-up-password" type="password" name="passw" required><br>
         <input type="submit" value=" Sign up free" id="singInformButton" >
    </form>
       <p> By clicking "Sign Up Free" I agree to ACME's <a href="terms"> Terms of Service</a></p>
    </div>
 </div>
 <!-- section two -->
<div class="section_2">
<h2> A stunning and robust app showcase </h2>
<p> lorem ipsum dolor sit amet, consectetur adipsicing elit, sed to eusnid tenoir ubcudedybt yt kabire et dolore magna aliqua.</p>
<div>
  <div>
    <a href="" >
      <img src="../core/assets/business-icon.png">
    <h3> Good Business </h3>
    </a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicng elit, sed do elusmod tempor</p>
  </div>
  <div>
    <a href="" >
      <img src="../core/assets/robot-icon.png">
    <h3> Amazing functionality </h3>
    </a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicng elit, sed do elusmod tempor</p>
  </div>
  <div>
    <a href="" >
      <img src="../core/assets/performance-icon.png">
    <h3> Optimized for performance </h3>
    </a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicng elit, sed do elusmod tempor</p>
  </div>
</div>
</div>
<div class="section_3">
  <div>
      <img src="../core/assets/phone-app.png">
      <img src="../core/assets/time-app.png">
      <img src="../core/assets/location-app.png">
      <img src="../core/assets/music-app.png">
      <img src="../core/assets/weather-app.png">
      <img src="../core/assets/photo-app.png">
      <img src="../core/assets/mail-app.png">
  </div>
  <h1> More awesome stuff </h1>
  <p> Adds up to 50.000 apps from our store to all your devices </p>
</div>
<!-- SECTION FOUR -->
<div class="section_4">
  <h1> What you'll get </h1>
<div>
    <table>
     <tr class="head-table">
       <th> Free goodies </th>
      <th> Features </th>
      <th> Free </th>
      <th> Premium </th>
    </tr>
    <tr>
      <th rowspan="3" class="in-table-titles">
        <img src="../core/assets/galaxy-icon.png">
        <h4> Access 35 million songs on-demand and ad-free </h4>
      </th>
        <td>
          <p> Listen on Android, iOS, and the web
          </td>
        <td>
          <img src="../core/assets/check-icon.png">
        </td>
      <td>
        <img src="../core/assets/check-icon.png">
      </td>
    </tr>
    <tr>
      <td>
      <p> Store up to 50.000 of your iTunes songs </p>
      </td>
      <td>
        <img src="../core/assets/check-icon.png">
      </td>
    <td>
      <img src="../core/assets/check-icon.png">
    </td>
    </tr>
    <tr>
      <td>
      <p> Get recommendation based on your taste <p>
      </td>
      <td>
        <img src="../core/assets/check-icon.png">
      </td>
    <td>
      <img src="../core/assets/check-icon.png">
    </td>
    </tr>
 <tr>
   <th rowspan="2" class="in-table-titles">
     <img src="../core/assets/swiss-army-knife-icon.png">
     <h4> Over 50 free premium tools </h4>
   </th>
   <td>
     <p>Curated Radio for anything you want to hear<p>
   </td>
   <td>

   </td>
   <td>
     <img src="../core/assets/check-icon.png">
   </td>
</tr>
<tr>
  <td>
    <p> On-demand access to over 35 million songs</p>
  </td>
  <td>
  </td>
  <td>
    <img src="../core/assets/check-icon.png">
  </td>
 <tr>
   <th rowspan="3" class="in-table-titles">
     <img src="../core/assets/storage-icon.png">
     <h4> Over 50 free premium tools </h4>
   </th>
   <td>
     <p> Ad-free. uninterrupted listening </p>
   </td>
   <td>
   </td>
   <td>
     <img src="../core/assets/check-icon.png">
   </td>
 </tr>
 <tr>
  <td>
    <p> Download music to play when you're not connected</p>
  </td>
  <td>
  </td>
  <td>
    <img src="../core/assets/check-icon.png">
  </td>
</tr>
<tr>
  <td>
    <p> Skip as many songs as you want</p>
  </td>
  <td>
  </td>
  <td>
    <img src="../core/assets/check-icon.png">
  </td>
</tr>
  </table>
   <button id="SignUpFree"type="button">Sign up free</button>
</div>
</div>
<div class="section_5">
<div class="section_5_1">
  <div>
  <img src="../core/assets/logo-gray.png">
  <h3> All your favorite apps on all your favorite devies</h3>
</div>
  <div>
    <a href=""><img src="../core/assets/app-store.png"></a>
      <a href=""><img src="../core/assets/google-play.png"></a>
  </div>
</div>
<div class="section_5_2">
  <img src="../core/assets/devices.jpg">
</div>
</div>
</script>

  <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
  <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
  <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
  <script src="http://backbonejs.org/backbone.js"></script>
  <script src="../build/bundle.js"> </script>
  </body>


</html>
