<html>
  <head>
<link rel="stylesheet" type="text/css" href="my_css/index.css">
  </head>
  <body>
  <div id="account-section">
  </div>

  <div class="section-absolute">
  </div>
  <div id="credits-section">
  </div>
  <div id="playlistAbsolut" class="playlist-absolute">
  </div>

 <script type="text/template" class="index-section-2">
    <div id="updateText"> </div>
    <p>	&#169; 2016 ACME DIVISION. ALL RIGHTS RESERVED </p>
 </script>
 <script type ="text/template"  class="index-section-1">
   <div id="logo" >
     <img src="../core/assets/logo-top.png">
   </div>
   <div class="index-section-1-1">
     <div id="searchBlock">
       <img src="../core/assets/search-icon.png">
       <input type="text" placeholder="Search">
     </div>
     <h2>Ready to listen to endless music on your favorite device ?</h2>
      <button id="join-now-button" type="button">JOIN NOW</button>
      <h1 id="bringInfo"> Epic and debauched party mixes </h1>
   </div>
   <div class="index-section-1-2">
       <button id="sign-in-button" type="button"> Sign In </button>
   </div>
 </script>
<script type ="text/template" id="playlists-container">
  <div class="individual-playlist">
    <div class="individual-playlist-button">
      <img src="../core/assets/play-icon.png">
      <p>Explore Playlist</p>
    </div>
    <img src=" objectToRender.imageLarge +">
    <h3>objectToRender.title+</h3>
     <p> objectToRender.description+</p>
  </div>
</script>
  <script type ="text/template" id="songs-table">
      <thead id="headTable">
        <tr>
         <th>SONGS</th>
         <th>LENGTH</th>
         <th>LISTENED</th>
        </tr>
     </thead>
     <tbody id="tbody" >
     </tbody>
  </script>

 <script type ="text/template" id="template-playlist">
 </script>
<script type = "text/template" id="playlist-header">
  <div class="playlist-top">
    <a>CLOSE</a>
    <img src="<%= imageSmall %>">
  </div>
  <div class="playlist-main">
    <img src="" alt="Hopa">
    <div>
      <p>Playing from: </p>
      <h2><%= title %> : The remixes radio</h2>
    </div>
  </div>
</script>

 <script type="text/template" id ="song-list-item">
    <tr >
       <td>
          <div class="song-pic-text">
         <img src="" alt="SongPicture">
             <div>
            <h3><%= title %></h3>
             <p>by category </p>
           </div>
          </div>
          </td>
          <td>
            <p><%= updated %></p>
          </td>
         <td>
             <p><%= content %></p>
          </td>
      </tr>
  </script>
  <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
  <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
  <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
  <script src="http://backbonejs.org/backbone.js"></script>
  <script src="../build/bundle.js"> </script>
  </body>


</html>
