
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.index-section-1{
  background-image: url("../../core/assets/banner-app.jpg");
  background-size: 100%;
  height: 70%;
  color: white;
}
.index-section-1 > div{
  display: inline-block;

}
#logo {
  width: 20%;
  padding-left: 2%;
  padding-top: 1%;
  vertical-align: top;
}
.index-section-1-1{
  width: 50%;
  padding-top: 3%;
  text-align: center;
}
.index-section-1-1 h2{
  margin-left: 30%;
  padding-top: 5%;
  font-size: 1em;
  width: 40%;
  text-align: center;
}
.index-section-1-1 button{
  height: 9%;
  width: 23%;
  background-color: #4dffb8;
  border-color: #8c8c8c;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.index-section-1-2{
  width: 20%;
  padding-top: 2%;
  vertical-align: top;
  text-align: center;
}
.index-section-1-2 a{
  height:100%;
  width: 100%;

  box-shadow:0px 4px 4px rgba(0,0,0,0.3);
  background-color: #0ABEFB;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 2px;
}
.index-section-1-2 a:hover{
 cursor: pointer;
}
#searchBlock {
 background-color: white;
 opacity: 0.4;
  width: 90%;
  padding-bottom: 1px;
}
#searchBlock input {
    opacity: 1;
  width: inherit;
  vertical-align: middle;
  height: 5%;
  width: inherit;
  border:0px;
  padding: 0px;
  font-size: 0.9em;
}
#searchBlock img {
  opacity: 1;
  background-color: black;
  margin: 0px;
  vertical-align: middle;
}
.index-section-1-1 button{
  border: 0px;
  border-radius: 2px;
    box-shadow:0px 8px 6px rgba(0,0,0,0.3);
}
.index-section-1-1 button:hover{
  cursor: pointer;
}
.index-section-2 {
  padding-top: 1px;
  background-color: #d9d9d9;
}
.index-section-2 div{
  padding-top: 300px;
  margin-left: 20%;
  margin-right: 20%;
}
.index-section-2 p{
  opacity: 0.6;
  vertical-align: bottom;
  padding-left: 20%;
}
.section-absolute {
  z-index: 3;
  width: 80%;
  position: absolute;
  margin-top: -10%;
  margin-left: 10%;
  display: inline-block;

}
.section-absolute > div{
    border-radius: 5px;
  background-color: white;
  margin-left: 15px;
  transition:
  	all 0.7s ease-in-out;
}
.section-absolute > div:hover {
  transform: translate(0,-60px);
  box-shadow:0px 8px 6px rgba(0,0,0,0.3);

}
.individual-playlist {
  display: inline-block;
  width:360px;
}
.section-absolute > div:hover #individual-playlist-button {
  display: inline;
}

.section-absolute h3{
  padding-left: 5%;
}
.section-absolute p {
    padding-left: 5%;
    opacity: 0.7;
}
#individual-playlist-button:hover {
  cursor: pointer;
}
#individual-playlist-button {
  user-select: none;
  padding: 5px;
  margin-left: 110px;
  margin-top: 100px;
  background-color: #33ccff;
  position: absolute;
  display: none;
}
#individual-playlist-button > p{
  margin: 0px;
  padding: 0px;
  color:white;
  font-weight: bold;
  float: right;
}
.playlist-absolute {
  z-index: 4;
  position: fixed;
  width: 40%;
  height: 70%;
  margin-top: -60%;
  margin-left:2%;
  float: left;
  display: none;
  background-color: white;
}
.playlistDisplayInline{
 display: inline;
}
.playlist-top {
  padding-right: 5px;
  padding-top: 5px;
  border: 0px;
  color: blue;
  text-align: center;
  float: right;
}
.playlist-top:hover{
  cursor: pointer;
}
.playlist-top a {
user-select: none;
color: #0AB8F9;
font-size: 12px;
font-weight: bold;
text-decoration:none;
margin: 0px;
padding: 0px;
vertical-align: middle;
}
.playlist-top img{
  vertical-align: middle;
}
.playlist-main {
  margin-top: 17px;
  background-color:#DBDAD8;
}
.playlist-main  div{
  display: inline-block;
  padding-left: 5px;
  padding-top: 0px;
}

.playlist-main  div p {
  margin-top: 0px;
  font-size: 12px;
}
.playlist-main  div h2{
  margin-top: 5px;
  display: inline-block;
}

.table_songs {
  margin-top: 10px;
  padding: 0px;
  border-collapse:collapse;
  text-align: left;
  font-size: 12px;
  width: 80%;
}

.table_songs td {
  width: 100%;
}
.table_songs
#headTable {
  background-color: #d9d9d9;
}
.song-pic-text img {
  display: inline;
}
.song-pic-text > div {
  display: inline-block;
  margin-left: 10px;
}
.song-pic-text > div > h3 {
  vertical-align: middle;
    margin-bottom: 0px;
}
.song-pic-text > div:hover {
   cursor:pointer;
}
.song-pic-text > div > p{
  margin-top: 0px;
  opacity: 0.7;
}
.tr-second-in-table {
  height: auto;
  overflow: scroll;
}
